<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
        <add key="ThumbnailPath" value="C:\Users\PISHTAZ\source\repos\Libra2\Thumbnails"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
		<add name="Default" connectionString="Data Source=C:\Users\PISHTAZ\source\repos\Libra2\Libra2\library.db"/>
	</connectionStrings>
</configuration>